.list {
    display: block;
    padding: 20px;
    background: $white;
    border-radius: 4px;
    @include desktop {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}