.player {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    @include desktop {
        position: relative;
    }
    .flex-container {
        background: $white;
    }
}