.play-bar {
    position: relative;
    display: block;
    width: 100%;
    &__bg {
        display: block;
        background: $concrete;
        width: 100%;
        height: 6px;
        transition: height $transition-duration $easing;
    }
    &__progress {
        background: $red;
        height: 6px;
        width: 0;
        transition: height $transition-duration $easing;
    }
    &__elapsed, &__total {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: .8em;
        font-weight: bold;
        align-self: center;
        padding: 0 20px;
    }
    &__elapsed {
        left: 0;
    }
    &__total {
        right: 0;
    }
}

// when hover over player expand playbar

.player:hover {
    .play-bar__bg, .play-bar__progress {
        height: 25px;
    }
    .play-bar__elapsed, .play-bar__total {
        display: inline-block;
    }
}