.song-info {
    width: 70%;
    span {
        display: block;
        font-family: $base-font-family;
        color: $black;
    }
    &__artist {
        font-weight: $light;
        font-size: 10px;
    }
    &__title {
        font-weight: $bold;
        font-size: 16px;
    }
}