.song-item {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    transition: background $transition-duration $easing;
    &:not(first-child) {
        margin-bottom: 10px;
    }
    &:hover {
        background: rgba($black, .05);
    }
    &__img-wrapper {
        width: 50px;
        margin-right: 12px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__details {
        padding: 0;
        flex-grow: 2;
        align-self: center;
        margin-top: -10px;
        text-align: left;
    }

    &__duration, &__title, &__artist {
        font-family: $base-font-family;
        font-size: $base-font-size;
        font-weight: $light;
    }

    &__duration {
        padding: 0 20px;
        margin: auto 0;
    }

    &__title {
        display: inline-block;
        color: $black;
        font-weight: $bold;
    }

    &__artist {
        display: block;
        color: $black;
    }
}