html,
body {
    height: 100%;
    margin: 0
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $regular;
    background: linear-gradient(to top right, $midnightBlue 0, $wetAsphalt 100%);
    transform: translateZ(0);
    background-size: 500% 500%;
    animation: bgAnimate 30s ease infinite;
}

.app {
    width: 100%;
    height: 100%;
    background: rgba($black, .2);
    padding: 20px;
    box-sizing: border-box;
    @include desktop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        max-width: 600px;
    }
}

.flex-container {
    display: flex;
    > div {
        padding: 10px 20px;
        &:first-child {
            margin-right: 20px;
        }
    }
}