// Import Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

//==== Typography

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Montserrat', sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4;

//==== Colors

// Base colors
$white: #f4f4f4;
$black: #333333;
$red: #e74c3c;
$midnightBlue: #2c3e50;
$wetAsphalt: #34495e;
$concrete: #95a5a6;

// Device widths
$tablet-width: 768px;
$desktop-width: 1024px;

//==== Animations
$easing: ease-in-out;
$transition-duration: 250ms;
